$color-primary: #02324f;
$color-off-primary: #0689db;
$color-secondary: #832232;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 30%);
// $color-off-secondary: #4a3f35;
$color-dark: #000;
$color-light: rgb(235, 235, 235);
$color-off-dark: lighten($color-dark, 10%);
$color-off-light: darken($color-light, 20%);
// $color-primary: #d89216;
// $color-off-primary: #e1d89f;
// $color-secondary: #2c061f;
// $color-secondary-dark: darken($color-secondary, 10%);
// $color-off-secondary: #374045;
// $color-dark: #000;
// $color-light: #e7e7e7;
// $color-off-dark: lighten($color-dark, 30%);
// $color-off-light: darken($color-light, 10%);
