/* custom scrollbar */

::-webkit-scrollbar {
    width: 0.8em;
    background-color: $color-off-dark;
}
::-webkit-scrollbar-thumb {
    background-color: darken($color_off_light, 20%);
    border: 1em solid transparent;
    border-radius: 20px;
    &:hover {
        background-color: darken($color_light, 20%);
    }
}
